<h1>Tweets</h1>

<a href='/admin/tweets'>
  Tweets
</a>
<span> | </span>
<a href='/admin/users'>
  Users
</a>

<br />
<br />

<table class="table">
  <thead class="thead-dark">
    <tr>
      <th scope="col">id</th>
      <th scope="col">uid</th>
      <th scope="col">description</th>
      <th scope="col">#</th>
    </tr>
  </thead>
  <tbody>
    {{#each tweets}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <th scope="row">{{this.UserId}}</th>
      <td>{{this.description}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/tweets/{{this.id}}">
            Show
          </a>
        </button>
        <form action="/admin/tweets/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>

    {{#each this.Replies}}
    <tr>
      <th scope="row">{{this.id}}</th>
      <th scope="row">{{this.UserId}}</th>
      <td>Re:{{this.comment}}</td>
      <td>
        <button type="button" class="btn btn-link">
          <a href="/admin/reply/{{this.id}}">
            Show
          </a>
        </button>
        <form action="/admin/reply/{{this.id}}?_method=DELETE" method="POST" style="display: inline;">
          <button type="submit" class="btn btn-link">Delete</button>
        </form>
      </td>
    </tr>

    {{/each}}
    {{/each}}
  </tbody>
</table>