<div class="row no-gutters">
  <div class="col-md-4">
    {{#if user.image}}
    <img src="{{user.image}}" width="300px" height="300px" />
    {{else}}
    <img src="https://via.placeholder.com/300" width="300px" height="300px" />
    {{/if}}
    <div class="card-body">
      <h5 class="card-title">{{user.name}}</h5>
      <p class="card-text">
        {{user.introduction}}
      </p>
      <ul class="list-unstyled list-inline">
        <li><strong>{{user.Tweets.length}}</strong> Tweets</li>
        <li><strong>{{user.Followings.length}}</strong> followings (追蹤者)</li>
        <li><strong>{{user.Followers.length}}</strong> followers (追隨者)</li>
        <li><strong>{{user.LikedUsers.length}}</strong> Likes</li>
      </ul>
      <p>
        {{#ifCond profile.id user.id }}
        <a href="/users/{{profile.id}}/edit"><button type="submit" class="btn btn-primary">edit</button></a>
        {{else}}
        {{#if this.isFollowed }}
        <form action="/following/{{profile.id}}?_method=DELETE" method="POST" style="display: contents;"><button
            type="submit" class="btn btn-danger">unFollow</button></form>
        {{else}}
        <form action="/following/{{profile.id}}" method="POST" style="display: contents;"><button type="submit"
            class="btn btn-primary">Follow</button></form>
        {{/if}}
        {{/ifCond}}
      </p>
    </div>
  </div>
  <div class="col-md-8">
    <div class="card">
      <div class="card-header">
        Tweets
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-4"><img class="img-responsive center-block" src="{{tweet.image}}"
              style="width: 250px;margin-bottom: 25px;"></div>
          <div class="col-md-8">
            <h4>
              <a href="/tweets/{{this.id}}">{{this.name}}</a>
            </h4>
            <p>{{this.description}}</p>
            <p><a href="/tweets/{{tweet.id}}/replies">Reply {{user.repliedUsers.length}}</a>Likes
              {{user.LikedUsers.length}}</p>


          </div>
        </div>
      </div>
    </div>
    <br />

    <div class="card">
      <div class="card-header">
        Replies
      </div>
      <div class="card-body">
        {{#each Replies}}
        <div class="row">
          <div class="col-md-4"><img class="img-responsive center-block" src="{{this.image}}"
              style="width: 250px;margin-bottom: 25px;"></div>
          <div class="col-md-8">
            <h4>
              <small><a href="/tweets/{{this.id}}">{{this.name}}</a>, {{moment this.createdAt}}</small>
            </h4>
            <p>{{this.description}}</p>

            <hr>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
    <br />
    <form action="/" method="POST">
      <div class="form-group">
        <textarea placeholder="What's on your mind?" class="form-control" id="text" name="text" rows="4"></textarea>
      </div>
      <input type="hidden" name="tweetId" value="{{tweet.id}}" />
      <button type="submit" class="btn btn-primary float-right">Reply</button>
    </form>
    <br /><br />

  </div>


</div>