<div class="row">
  <div class="col-md-8">
    <form action="/" method="POST">
      <div class="form-group">
        <textarea maxlength="140" placeholder="What's on your mind? (maxlength is 140 words)" class="form-control"
          id="text" name="text" rows="4" required></textarea>
      </div>
      <input type="hidden" name="tweetId" value="{{tweet.id}}" />
      <button type="submit" class="btn btn-primary float-right">Tweet</button>
    </form>
    <br /><br />
    <div class="card">
      <div class="card-header">
        Feeds
      </div>

      <div class="card-body">

        <div class="container">
          {{#each feeds}}
          <div class="row">
            <div class="col-md-4"><img class="img-thumbnail" src="{{this.User.avatar}}"></div>
            <div class="col-md-8">
              <h4>
                <a href="/tweets/{{this.id}}">{{this.User.name}}</a>
                <small>, {{moment this.createdAt}}</small>
              </h4>
              <p>{{this.description}}</p>
              {{#if this.Reply.length }}
              <a href="/tweets/{{tweet.id}}/replies">Reply({{this.Reply.length}})</a> {{!-- {{功能再追蹤}} --}}
              {{/if}}

            </div>
          </div>
          <hr>
          {{/each}}
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Popular
      </div>
      <div class="card-body">
        {{#each tweets}}
        <div class="row">
          <div class="col-md-4"><img class="img-thumbnail" src="{{this.User.avatar}}"></div>
          <div class="col-md-8">
            <h4>
              <a href="/tweets/{{this.id}}">{{this.name}}</a>
            </h4>
            <p>{{this.description}}</p>

            {{#if isFollowed }}
            <form action="/follow/{{user.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                type="submit" class="btn btn-danger">unFollow</button></form>
            {{else}}
            <form action="/follow/{{user.id}}" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-primary">Follow</button></form>
            {{/if}}

            <hr>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>