<div class="row">
  <div class="col-md-8">
    <form action="/tweets" method="POST">
      <div class="form-group">
        <textarea maxlength="140" placeholder="What's on your mind? (maxlength is 140 words)" class="form-control"
          id="text" name="text" rows="4" required></textarea>
      </div>
      <input type="hidden" name="tweetId" value="{{tweet.id}}" />
      <button type="submit" class="btn btn-primary float-right">Tweet</button>
    </form>
    <br /><br />
    <div class="card">
      <div class="card-body">

        <div class="container">
          {{#each tweets}}
          <div class="row">
            <div class="col-md-4"><img class="img-thumbnail" src="{{this.User.avatar}}"></div>
            <div class="col-md-8">
              <h4>
                <a href="/users/{{this.User.id}}/tweets">{{this.User.name}}</a>
                <small>, {{moment this.createdAt}}</small>
              </h4>
              <p>{{this.description}}</p>

              {{#if this.Replies.length }}
              <a href="/tweets/{{this.id}}/replies">Reply({{this.Replies.length}}) </a>
              {{/if}}

              {{#if this.isLiked }}
              <form style="display: inline;" action="/tweets/{{this.id}}/unlike" method="POST"><button type="submit"
                  class="btn btn-danger">unlike ({{this.Likes.length}})</button>
              </form>
              {{else}}
              <form style="display: inline;" action="/tweets/{{this.id}}/like" method="POST"><button type="submit"
                  class="btn btn-primary">Like
                  ({{this.Likes.length}})</button></form>
              {{/if}}


            </div>
          </div>
          <hr>
          {{/each}}
        </div>

      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Popular
      </div>
      <div class="card-body">
        {{#each users}}
        <div class="row">
          <div class="col-md-4"><img class="img-thumbnail" src="{{this.avatar}}"></div>
          <div class="col-md-8">
            <h4>
              <a href="/users/{{this.id}}/tweets">{{this.name}}</a>
            </h4>
            <p>{{this.introduction}}</p>

            <p>
              {{#if this.isFollowed }}
              <form action="/following/{{this.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                  type="submit" class="btn btn-danger">unFollow</button></form>
              {{else}}
              <form action="/following/{{this.id}}" method="POST" style="display: contents;"><button type="submit"
                  class="btn btn-primary">Follow</button></form>
              {{/if}}
            </p>

            <hr>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>