<div class="row">
  <div class="col-md-8">
    <form action="/" method="POST">
      <div class="form-group">
        <textarea placeholder="What's on your mind?" class="form-control" id="text" name="text" rows="4"></textarea>
      </div>
      <input type="hidden" name="tweetId" value="{{tweet.id}}" />
      <button type="submit" class="btn btn-primary float-right">Tweet</button>
    </form>
    <br /><br />
    <div class="card">
      <div class="card-header">
        Feeds
      </div>

      <div class="card-body">
        {{#each tweets}}
        <div class="row">
          <div class="col-md-4"><img class="img-responsive center-block" src="{{tweet.image}}"
              style="width: 250px;margin-bottom: 25px;"></div>
          <div class="col-md-8">
            <h4>
              <a href="/tweets/{{this.id}}">{{this.name}}</a>
              <small>, {{moment this.createdAt}}</small>
            </h4>
            <p>{{this.description}}</p>
            <a href="/tweets/{{tweet.id}}/replies">Reply(2)</a>
            <hr>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
  <div class="col-md-4">
    <div class="card">
      <div class="card-header">
        Popular
      </div>
      <div class="card-body">
        {{#each likes}}
        <div class="row">
          <div class="col-md-4"><img class="img-responsive center-block" src="{{this.image}}"
              style="width: 250px;margin-bottom: 25px;"></div>
          <div class="col-md-8">
            <h4>
              <a href="/tweets/{{this.id}}">{{this.name}}</a>
            </h4>
            <p>{{this.description}}</p>

            {{#if isFollowed }}
            <form action="/follow/{{user.id}}?_method=DELETE" method="POST" style="display: contents;"><button
                type="submit" class="btn btn-danger">unFollow</button></form>
            {{else}}
            <form action="/follow/{{user.id}}" method="POST" style="display: contents;"><button type="submit"
                class="btn btn-primary">Follow</button></form>
            {{/if}}
            <a href="/users/{{this.id}}/tweets">Follow</a>
            <hr>
          </div>
        </div>
        {{/each}}
      </div>
    </div>
  </div>
</div>